<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SuperTopSecretProj.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F7737B101CB87EC6008049EC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F7737B241CB87EC6008049EC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F7737B2F1CB87EC6008049EC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
